.fadeIn {
    animation: fade .2s;
    animation-fill-mode: both;
  }

.fadeOut{
    animation : fade .2s;
    animation-fill-mode: both;
    animation-direction: reverse;
}

  @keyframes fade {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }