* {
  font-family: "游ゴシック体", "Yu Gothic";
}

body {
  margin-top: 165px !important;
  margin-left: 215px !important;
  -webkit-text-size-adjust: 100% !important;
}

/*===ヘッダー内の要素===*/
header {
  position: fixed;
  height: 150px;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  left: 0;
}

.header-top {
  height: 70%;
  background-color: #5050ff;
}

.titleRoot {
  padding-top: 10px;
  padding-left: 20px;
}

#title {
  color: #f0f0f0;
  font-size: 90%;
}

#copyWrite {
  position: absolute;
  color: #f0f0f0;
  font-size: 80%;
  right: 20px;
}

#daySelector {
  font-size: 200%;
  font-weight: bolder;
  padding-top: 20px;
  padding-left: 10px;
  color: #ffffff;
}

#daySelectArrows {
  position: fixed;
  top: 30px;
  left: 100px;
  color: white;
}

#FAB {
  position: fixed !important;
  top: 85px;
  left: 20px;
  z-index: 150;
}

/*====================*/

#sideBarRoot {
  width: 200px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 150px;
}

/*===フィルタ設定===*/
#selectOptionsRoot {
  display: block;
  position: absolute;
  margin-left: 20px;
}

.selectOption {
  width: 170px !important;
  margin-bottom: -20px !important;
}

.selectOption input {
  font-size: 90%;
}

.selectOption li {
  height: 40px !important;
}

.selectOption ul {
  margin: 0;
  z-index: 100;
  max-height: 150px;
  overflow: auto;
}
/*===================*/

/*===テーブルのスタイル===*/
#mainTable {
  /*表全体の横幅*/
  width: 620px;
  /*空白セルを表示する*/
  empty-cells: show;
  table-layout: fixed;
  /*隣接する枠線の結合*/
  border-collapse: collapse;
  color: blue;
}

#mainTable th {
  text-align: left;
  vertical-align: bottom;
  padding: 5px;
  height: 30px;
  overflow: hidden;
  border: 1px solid skyblue;
}

#mainTable td {
  text-align: left;
  /*左寄せ*/
  vertical-align: top;
  /*上寄せ*/
  font-size: 80%;
  padding: 5px;
  height: 40px;
  /*セルごとの縦幅*/
  border: 1px solid skyblue;
}
/*=======================*/

/*リンク文字列の上にマウスが乗ったときのスタイル*/
.link:hover {
  cursor: pointer;
  color: #ff0000 !important;
}

/*===ポップアップのスタイル===*/
.popup {
  display: none;
  position: absolute;
  z-index: 3;
  border-radius: 4px;
  width: 200px;
  animation: popupOpen .15s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  transform-origin: left top;
}
@keyframes popupOpen {
  0% {
    transform: scale(0,0);
  }

  100% {
    transform: scale(1,1);
  }
}

.popup-top {
  position: relative;
  background-color: #f00000;
  height: 60px;
  width: 200px;
  border-radius: 4px 4px 0 0 / 4px 4px 0 0;
  display: block;
}

.popup-top-text {
  color: #ffffff;
  font-weight: bolder;
  padding-right: 5px;
  position: absolute;
  display: inline;
  bottom: 5px;
  right: 0;
  text-align: right;
}

.popup-bottom {
  padding: 5px;
  min-height: 50px;
  overflow: hidden;
  border-radius: 0 0 4px 4px / 0 0 4px 4px;
  background-color: #ffffff;
}

.lectureContent {
  text-align: right;
  font-size: 85%;
  font-weight: bolder;
}

.lectureContent-more {
  animation: expandContent .13s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  transform-origin: top;
}

@keyframes expandContent {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.teacherContent {
  text-align: right;
  font-size: 85%;
  font-weight: bolder;
}
/*==========================*/

/*表内に表示される講義データ*/
.lecture {
  color: #fff;
  width: 80px;
  height: 20px !important;
  font-size: 100% !important;
  line-height: 20px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 2px;
  background-color: #ff0000;
  vertical-align: top !important;
  padding-left: 5px;
  margin: 1px !important;
  top: 0 !important;
  color: white !important;
  font-weight: bolder !important;
}

.lecture:hover {
  background-color: #cc0000;
  cursor: pointer;
}
